body {
    font-family: monospace;
    color: #ffffff;
    background: linear-gradient(#000d4d, #000000);
    display: flex;
    flex-direction: column;
    min-height: 100 vh;
    margin: 3%;
}

main {
    line-height: 1.5;
    flex-grow: 1;
    font-size: 1rem;
    margin-top: 7vh;
    margin-bottom: 7vh;
    margin-right: 0px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-size: 1.08rem;
    flex-wrap: wrap;
    column-gap: 3%;
}

nav>p {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 0;
    margin-bottom:0;
}

figcaption {
    color: #ffffffd0;
}

a {
    color: #6fffec;
}

main>h1 {
    font-size: 1.5rem;
}

header>h1 {
    font-size: 2.2rem;
}
