html {
    min-height: 100vh;
}

body {
    font-family: monospace;
    color: #c7f4ff;
    background: linear-gradient(#000d4d, #000000);
    display: flex;
    flex-direction: column;
    min-height: 100 vh;
    padding: 3%;
}

header {
    flex: none;
}

main {
    line-height: 1.5;
    flex: 1;
    font-size: 1rem;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 0px;
}

nav {
    display: flex;
    flex: none;
    flex-direction: row;
    justify-content: left;
    font-size: 1.08rem;
    font-style: italic;
    flex-wrap: wrap;
    column-gap: 3%;
}

footer {
    flex: none;
}

nav>p>a {
    text-decoration: none;
    color: #a5b9ff;
    transition: color 1.25s;
}

nav>p>a:hover {
    color: #8cffd3;
}

nav>p>a:active {
    color: #ffffff;
}

nav>p {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 0;
    margin-bottom:0;
}

figcaption {
    color: #ffffffb4;
}

a {
    color: #63ffd5;
}

main>h1 {
    font-size: 1.5rem;
}

header>h1 {
    font-size: 2.2rem;
}
